.about-us{
    position: relative;
    width: 100%;
    height: auto;
    position: relative;
    padding:  2em 0;
    margin: 0;
    //background-image: url(../images/about_bg.jpeg);
    //background-position: center;
    //background-size: cover;
    //background-repeat: no-repeat;
    //background-attachment: fixed;
}
.about-us-h1{
    position: relative;
    display: block;
    font-size: 2.5em;
    padding: 0.5em 0 1em 0;
    margin: 0 auto;
    text-align: center;
    font-family:'Work Sans', sans-serif;
    font-weight: 400;
    color: #1599D6;
}
.about-flexbox{
    width: 90%;
    max-width: 1000px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    margin: 0 auto;
    max-height: 35em;
}

.box-item{
    margin: 3em auto 0 auto;
    padding: 0;
    width: 45%;
    
    //min-height: 27em;
    position: relative;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
    img{
        width: 100%;
        display: block;
    }
}
.box-item:hover .box-desc{
    transform: translateY(0%);
}


@keyframes animateBorder {
    to {
      outline-color: #f3f3f3;
      box-shadow: 0 0 0 6px #1599D6;
    }
  }
  
.name{
    font-size: 2em;
    font-weight: 300;
    color: #f3f3f3;
    background: #1599d6;
    text-align: center;
    padding: 0.1em 0;
    //border: 1px solid #f3f3f3;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    display: block;
}
.box-desc{
    font-size: 1.2em;
    font-weight: 300;
    position: absolute;
    bottom: 0;
    //bottom: 6em;
    color: #f3f3f3;
    background: rgba(0, 0, 0, 0.4);
    left: 0em;
    right: 0em;
    padding: 1em 2em 4em 2em;
    transform: translateY(150%);
    transition: all ease-in-out 250ms;
    p{
        
        font-size: 1.3em;
        
        font-weight: 200;
        justify-content: center;
        text-align: center;
    }
}
.view-more-button{
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2em;
    font-weight: 200;    
    cursor: pointer;
    color: #f3f3f3;
    background: none;
    padding: 0.2em 0.9em;
    border: 2px solid #f3f3f3;
    border-radius: 1.5em;
    transition: 0.5s ease-in;
    background: #1599d6;
    &:hover{
        color: #1599D6;
        background: #f3f3f3;
        border-color: #1599D6;
        
    }
}


// MODAL 
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    color: #f3f3f3;
    padding-top: 2em;
    
}
.modal-logo{
    display: block;
    position: relative;
    padding: 0;
    bottom: 0;
    background-image: url(../images/reframeLogoTree.png);
    width: 80px;
    height: 91px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px 91px;
    left: 50%;
    transform: translateX(-50%);
}
.kingsley-modal-content{
    background: #1599D6;
    color: #f3f3f3;
    margin: auto;
    padding: 1em;
    border: 2px solid #f3f3f3;
    width: 70%;
    height: 80%;
    overflow-y: auto;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    h1{
        text-align: center;
        padding: 0.5em;
        border: 2px solid #f3f3f3;
        display: block;
        margin: 0 auto;
        width: 9em;
        position: relative;
        background: #1599D6;
        font-family: 'Work Sans', sans-serif;
        font-weight: 100;
    }
    p{
        
        padding: 2em 10%;
        font-size: 1.1em;
        font-weight: 300;
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;   
    }
}
.nicholas-modal-content{
    background: #1599D6;
    color: #f3f3f3;
    margin: auto;
    padding: 1em;
    border: 2px solid #f3f3f3;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    
    h1{
        text-align: center;
        padding: 0.5em;
        border: 2px solid #f3f3f3;
        display: block;
        margin: 0 auto;
        width: 8em;
        position: relative;
        background: #1599D6;
        font-family: 'Work Sans', sans-serif;
        font-weight: 100;
    }
    p{
        
        padding: 3em 10%;
        font-size: 1.1em;
        font-weight: 300;
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
    }
}
.close1,
.close2{
    height: 50px;
    width: 50px;
    background-image: url(../images/close.png);
    background-size: 50px 50px;
    background-repeat: no-repeat;
    opacity: 0.5;
    float: right;
}
.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus{
    cursor: pointer;
    opacity: 1;
}



@media (max-width: 800px){
    .box-item{
        width: 80%;
    }
    .view-more-button{
        font-size: 1.3em;
        padding: 0.35em 1em; 
    }
}

@media (max-width: 680px){
    .about-flexbox{
        flex-direction: column;
        min-height: auto;
    }
    .box-desc{
        padding: 1em 1em 3.5em 1em;
        p{
            font-size: 1.1em;
        }
    }
    .view-more-button{
        font-size: 1em;
        min-width: 8em;
    }
    .name{
        font-size: 1.5em;
    }
    .kingsley-modal-content,
    .nicholas-modal-content{
        width: 90%;
        h1{
            font-size: 1.25em;
            font-weight: 300;
        }
        p{
            font-size: 1em;
            padding: 3em 2.5%;
            font-weight: 300;
        }
    }
    
}



    






