.disc{
    margin: 0;
    padding: 2em 0;
    width: 100%;
    height: 600px;
    background: #1599D6;
    position: relative;
    h1{
        color: #f8f8f8;
        font-weight: 200;
        padding: 0;
        margin: 0 auto 0.5em 0;
        text-align: center;
    }
}
