.estate-bold{
    font-size: 1.2em;
    font-weight: 400;
}
.estate-agency{
    width: 100%;
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    color: #f8f8f8;
}
.estate-outer{
    width: 100%;
    height: auto;
    padding: 2em 0 0 0;
    margin: 0;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/estate_bg1.jpeg);
    background-attachment: fixed;
}
.estate-section1{
    height: auto;
    width: 100%;
    background: rgba(21, 153, 214, 0.6);
    position: relative;
    margin: 3em 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.estate-img{
    width: 500px;
    height: 375px;
    background-image: url('../images/pete_nick_kingsley.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    padding: 0;
    margin: 3em 0;
    
}
.estate-h1{
    font-weight: 200;
    padding: 0 1em;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
    width: 50%;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    
}
.estate-h2{
    font-weight: 200;
    padding: 2em 1em;
    text-align: center;
    font-size: 2em;
    line-height: 1.5em;
}
.estate-p{
    color: #f3f3f3;
    padding: 1em 5%;
    font-size: 1.6em;
    margin: 0 auto;
    text-align: center;
    font-weight: 200;
    max-width: 1200px;
    z-index: 1;
    a{
        color: #f3f3f3;
        font-weight: 400;
    }
    a:hover{
        color: #d4d4d4;
    }
}

.carousel-item p{
    color: #f3f3f3;
    padding: 2em 14%;
    margin: 2em auto;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}

@media (max-width: 1050px){
    .estate-section1{
        position: relative;
        margin: 2.5em 0 1.5em 0;
        display: flex;
        flex-direction: row;
        padding: 0;
        justify-content: center;
        flex-direction: column;
    }
    .estate-h1{
        width: 90%;
        padding: 2em 0;
        margin: 0 auto;
        font-weight: 100;
    }
    .estate-img{
        margin: 0 auto 4em auto;
    }
}
@media (max-width: 800px){
    .estate-h1{
        font-size: 1.8em;
        line-height: 1.5em;
        padding: 0;
        margin: 2em auto;
    }
    .estate-p{
        font-size: 1.1em;
        line-height: 1.7em;
        padding: 1em 5%;
    }
    .carousel-item p{
        font-size: 0.9em;
    }
}

@media (max-width: 640px){
    .estate-img{
        width: 100vw;
        height: 320px;
    }
    .estate-h1,
    .estate-h2{
        font-size: 1.5em;
        font-weight: 300;
    }

    .estate-p{
        font-weight: 300;
    }
}


