.leadership{
    width: 100%;
    height: auto;
    position: relative;
    padding: 2em;
    margin: 0;
    background: #1599D6;
    font-family: 'Work Sans', sans-serif;
    color: #f3f3f3;
    
    
}
.leadership-container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    //background: #1599D6;
    position: relative;
    padding: 2em;
    margin: 2em auto;
}
.leadership-p1{
    padding: 1em;
    margin: 0;
    left: 0;
    max-width: 40%;
    font-size: 1.4em;
    font-weight: 200;
    
    height: 30em;
}
.leadership-p2{
    padding: 1em;
    margin: 0;
    top: 2em;
    max-width: 50%;
    right: 0;
    position: absolute;
    font-size: 1.4em;
    font-weight: 300;
    
    
}
.leadership-list{
    color: #f8f8f8;
    padding: 1em 0;
    margin:  1.5em 0;
    top: 6em;
    right: 5%;
    position: absolute;
    font-size: 1.4em;
    font-weight: 200;
    //border: 2px solid #f3f3f3;
}
@media (max-width: 870px){
    .leadership-container{
        height: auto;
    }
    .leadership-p1{
        margin: 0 auto;
        padding: 2em 0;
        position: relative;
        max-width: 90vw;
        left: auto;
        text-align: center;
        height: auto;
    }
    .leadership-p2{
        top: auto;
        margin: 0 auto;
        padding: 2em 1em;
        right: auto;
        position: relative;
        text-align: center;
        max-width: 90vw;
    }
    .leadership-list{
        position: relative;
        right: auto;
        top: auto;
        margin: 0 auto;
        max-width: 24em;
        width: 70vw;
        li{
            margin: 0;
            padding: 0;
        }
    }
}
@media (max-width: 768px){
    .leadership-container{
        .leadership-p1,
        .leadership-p2{
            font-size: 1.1em;
        }
    }
}