.mentoring{
    width: 100%;
    height: auto;
    position: relative;
    padding: 2em 0;
    margin: 0 auto;
    background-image: url(../images/lightbulb.png);
    background-repeat: no-repeat;
    background-position: bottom -15em right 10em;
    background-size: contain;
    background-attachment: fixed;
    //background: #f3f3f3;
    font-family: 'Work Sans', sans-serif;
    color: #1599D6;&:before{
        content: '';
        background-image: radial-gradient(rgba(21, 153, 214, 0.4),rgba(21, 153, 214, 0.6), rgba(21, 153, 214, 0.8), rgba(21, 153, 214, 1),rgba(21, 153, 214, 1));
        opacity: 1;
        position: absolute;
        //background-attachment: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}
.mentoring-h1{
    position: relative;
    display: block;
    font-size: 2.5em;
    padding: 0.5em 5%;
    margin: 0 auto;
    text-align: center;
    font-family:'Work Sans', sans-serif;
    font-weight: 300;
    color: #f3f3f3;
}
.mentoring-line-break{
    display: block;
    background-color: #f8f8f8;
    height: 1px;
    width: 15em;
    padding: 0;
    margin: 0 auto;
    position: absolute;
    top: 9em;
    left: 50%;
    transform: translateX(-50%);
}
.mentoring-p1{
    font-weight: 200;
    font-size: 1.6em;
    line-height: 2em;
    padding: 1em 5%;
    max-width: 1000px;
    position: relative;
    text-align: center;
    margin: 2em auto;
    text-transform: uppercase;
    color: #f3f3f3;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
}
.mentoring-flexbox{
    width: 95%;
    max-width: 1500px;
    height: auto;
    position: relative;
    padding: 0;
    margin: 3em auto;
    display: flex;
    flex-direction: row;
}
.mentoring-box{
    margin: 0 auto;
    padding: 0;
    height: auto;
    min-height: 35em;
    width: 30%;
    position: relative;
    //border: 2px solid #f3f3f3;
    background: rgba(0, 64, 133, 0.3);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    h1{
        font-size: 1.3em;
        text-align: center;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding: 0 1em;
        width: 100%;
        background: #f3f3f3;
        color: #1599D6;
        height: 4em;
    }
    p{
        text-align: center;
        padding: 1em;
        font-weight: 300;
        font-size: 1em;
        color: #f8f8f8;
    }
    .business-png{
        background-image: url(../images/business.png);
        background-size: 150px 150px;
        height: 150px;
        width: 150px;
        background-repeat: no-repeat;
        padding: 1em;
        margin:0;
        position: absolute;
        bottom: 0.5em;
        left: 50%;
        transform: translateX(-50%);
        border: 0;
    }
    .management-png{
        background-image: url(../images/management.png);
        background-size: 150px 150px;
        height: 150px;
        width: 150px;
        background-repeat: no-repeat;
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    .mentoring-png{
        background-image: url(../images/mentoring.png);
        background-size: 150px 150px;
        height: 150px;
        width: 150px;
        background-repeat: no-repeat;
        position: absolute;
        padding: 0;
        margin: 0;
        bottom: 0.5em;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
.executives{
    background: rgba(0, 64, 133, 0.3);
}
.individuals{
    background: rgba(0, 64, 133, 0.3);
}


@media (max-width: 1050px){
    .mentoring{
        background-position: bottom -15em right 0;
    }
}
@media (max-width: 900px){
    .mentoring-flexbox{
        flex-direction: column;
        border: none;
        width: 90%;
    }
    .mentoring-box{
        width: 100%;
        margin: 1em auto;
        border: none;
        padding: 0;
        height: auto;
        min-height: 25em;
        h1{
            height: 3em;
            font-size: 1.5em;
        }
        p{
            text-align: center;
            font-size: 1.1em;
        }
    }
}
@media (max-width:680px){
    .mentoring{
        background-position: bottom -15em right -10em;
    }
    .mentoring-box{
        min-height: 32em;
    }
    .mentoring-p1{
        font-size: 1.3em;
    }
    
}

