
.header-container{
    top: 0;
    margin: 0;
    width: 100%;
    background: #22A7E4;
    height: 6em;
    z-index: 2;
    position: fixed;
    border-bottom: 2px solid white;
    
    
    
}
.header-container::after{
  content: '';
  clear: both;
  display: block;
}

.reframe-logo-tree{
    z-index: 1;
    position: absolute;
    display: block;
    padding: 0;
    margin: 1em auto;
    width: 60px;
    background-image: url(../images/reframeLogoTree.png);
    height: 68px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 60px 68px;
}
.site-nav{
    margin: 0;
    padding: 0;
    position: absolute;
    line-height: 1.5em;
    right: 0%;
    top: 5.86em;
    height: 0px;
    overflow: hidden;
    border-bottom: 2px solid white;
    border-left: 2px solid white;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        background: #22A7E4;
        li{
            border-top: 1px solid rgba(247, 247, 247, 0.25);
            a{
                cursor: pointer;
                display: block;
                position: relative;
                text-align: center;
                text-transform: uppercase;
                text-decoration: none;
                font-family:'Alegreya Sans', sans-serif;
                font-weight: 400; 
                font-size: 0.9em;
                color: #F8f8f8;
                width: 13em;
                padding: 1em 0.5em;
                margin: 0 2em;
            }
            .disc-logo{
                padding: auto;
                margin: 0 auto;
                width: 55px;
                height: 65px;
                background-image: url(../images/disc_logo.png);
                background-repeat: no-repeat;
                background-size: 55px 55px;
                background-position: center;
            }
        }
        .activelink{
            background: #f8f8f8;
            
            a{
                color: #22A7E4;
            }
        }
    }
}
.site-nav li:hover,
.site-nav li:focus,
.site-nav li:active{
    background: #f8f8f8;
    color: #22A7E4;
    border-top: none;
    -moz-transition: all ease-in-out 300ms;
    -o-transition: all ease-in-out 300ms;
    -webkit-transition: all ease-in-out 300ms;
    transition: all ease-in-out 300ms;
    box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.8);
    transform: translate(0, -0.1em);
    a{
        color: #22A7E4;
    }
}
.site-nav--open{
    height: auto;
    z-index: 1;
} 

@media (min-width: 1050px){
    .site-nav{
        padding:0;
        max-width: 1000px;
        margin: 0 auto;
        height: 6em;
        position: relative;
        top: 0;
        border-left: none;
        ul{
            height: 6em;
            display: flex;
            flex-direction: row;
            margin: 0 0 0 55px;
            align-items: center;
            background: none;
            padding: 0;
            li{
                padding: 0 0.5em;
                margin: 0;
                width: 8em;
                transition: 0;
                
                a{
                    padding: 100% 0;
                    font-size: 0.8em;
                    font-weight: 400;
                    margin: 0;
                    color: #f8f8f8;
                    width: auto;
                    line-height: 1.25em;
                }
                .disc-logo{
                    width: auto;
                    height: 55px;
                    padding: 100% 0;
                }   
            }
        }
    }
    
    .site-nav li:hover,
    .site-nav li:focus{
        box-shadow: none; 
        transform: translate(0, 0);
    }

    #nav-icon{
        display: none;
    }
}
  
/****** Nav Burger Icon ******/
#nav-icon{
    width: 55px;
    height: 45px;
    position: absolute;
    right: 3%;
    top: 1.6em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer;
    /*display: none;*/
    z-index: 2;
}
#nav-icon span{
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0px;
    background-color: #009b4d;
    border: 2px solid rgba(248, 248, 248, 0.5);
}
#nav-icon span:nth-child(2) {
    top: 18px;
    background-color: #009b4d;
    border: 2px solid rgba(248, 248, 248, 0.5);
}
#nav-icon span:nth-child(3) {
    top: 36px;
    background-color: #009b4d;
    border: 2px solid rgba(248, 248, 248, 0.5);
}
#nav-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

