
.header-container{
    top: 0;
    margin: 0;
    width: 100%;
    background: #1599D6;
    height: 4em;
    z-index: 100;
    position: fixed;
    border-bottom: 2px solid #f3f3f3;
    
    
    
}
.header-container::after{
  content: '';
  clear: both;
  display: block;
}

.reframe-logo-tree{
    z-index: 1;
    position: absolute;
    display: block;
    padding: 0;
    margin: 0.5em auto;
    width: 40px;
    background-image: url(../images/reframeLogoTree.png);
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40px 45px;
}
.reframe-nav{
    position: absolute;
    display: block;
    left: 40px;
    font-size: 2.2em;
    color: #f3f3f3;
    font-weight: 200;
    letter-spacing: 0.15em;
    padding: 0 0.2em;
    margin: 0.08em 0 0 0;
    //background: red;
    //border: 1px solid #f3f3f3;
    
}
.site-nav{
    margin: 0;
    padding: 0;
    position: absolute;
    line-height: 1.5em;
    right: 0%;
    top: 3.87em;
    height: 0px;
    overflow: hidden;
    border-bottom: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        background: #1599D6;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 85vh;
        li{
            border-top: 1px solid rgba(247, 247, 247, 0.25);
            padding: 0;
            height: 11vh;
            display: flex;
            justify-content: center;
            transition: 1s;
            a{
                cursor: pointer;
                display: block;
                position: relative;
                text-transform: uppercase;
                text-decoration: none;
                font-family:'Alegreya Sans', sans-serif;
                font-weight: 400; 
                font-size: 0.8em;
                color: #f3f3f3;
                padding: 1em;
                margin: 0;
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;
            }
            .disc-logo{
                padding: 0;
                margin: 0;
                width: 100%;
                height: 100%;
                background-image: url(../images/disc_logo.png);
                background-repeat: no-repeat;
                background-size: 55px 55px;
                background-position: center;
                
            }
        }
        .activelink{
            background: rgba(243, 243, 243, 0.8);
            //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
            
            a{
                color: #1599D6;
            }
        }
    }
}
.site-nav li:hover,
.site-nav li:focus,
.site-nav li:active{
    background: rgba(243, 243, 243, 1);
    color: #1599D6;
    //border: 2px solid #1599D6;
    -moz-transition: all ease-in-out 700ms;
    -o-transition: all ease-in-out 700ms;
    -webkit-transition: all ease-in-out 700ms;
    transition: all ease-in-out 700ms;
    //box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    //transform: translate(0, -0.2em);
    a{
        color: #1599D6;
        
    } 
}
.site-nav li::before,
.site-nav li::after{
    background: #1599D6;
    color: #f3f3f3;
}
.site-nav a::before,
.site-nav a::after{
    width: 100%;
    height: 100%;
    z-index: 3;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    transform: scale(0);
    transition: 0.7s;
}
.site-nav a::before{
    border-bottom: 3px solid #1599D6;
    border-left: 3px solid #1599D6;
    transform-origin: 100% 0%;
}
.site-nav a::after{
    border-top: 3px solid #1599D6;
    border-right: 3px solid #1599D6;
    transform-origin: 0% 100%;
}
.site-nav a:hover::after,
.site-nav a:hover::before{
    transform: scale(1);
}
.site-nav--open{
    height: auto;
    z-index: 1;
} 

@media (min-width: 1050px){
    .header-container{
        height: 6em;
    }
    .reframe-nav{
        display: none;
    }
    .site-nav{
        padding:0;
        max-width: 1000px;
        margin: 0 auto;
        height: 5.85em;
        position: relative;
        top: 0;
        border-left: none;
        border-bottom: none;
        background: none;
        ul{
            height: 5.8em;
            flex-direction: row;
            margin: 0 0 0 55px;
            align-items: center;
            background: none;
            padding: 0;
            li{
                padding: 0;
                margin: 0;
                width: 8em;
                transition: 0;
                height: auto;
                border-top: none;
                a{
                    padding: 0;
                    font-size: 0.8em;
                    font-weight: 300;
                    margin: 0;
                    color: #f8f8f8;
                    height: 7.5em;
                    //line-height: 1.25em;
                    text-align: center;
                    transition: 0.5s;
                }
                .disc-logo{
                    padding: 0;
                    margin: 0;
                    width: 100%;
                    height: 7.5em;
                }
            }
        }
    }
    .reframe-logo-tree{
        padding: 0;
        margin: 0.5em auto;
        height: 79px;
        width: 70px;
        background-size: 70px 79px;
        background-position: center;
    }
    .site-nav li:hover,
    .site-nav li:focus{
        box-shadow: none; 
        transform: translate(0, 0);
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    #nav-icon{
        display: none;
    }
}
  
/****** Nav Burger Icon ******/
#nav-icon{
    width: 55px;
    height: 30px;
    position: absolute;
    right: 3%;
    top: 0.5em;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    cursor: pointer;
    /*display: none;*/
    z-index: 2;
}
#nav-icon span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    border-radius: 8px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}
#nav-icon span:nth-child(1) {
    top: 0px;
    background-color: #f3f3f3;
    //border: 2px solid rgba(248, 248, 248, 0.5);
}
#nav-icon span:nth-child(2) {
    top: 18px;
    background-color: #f3f3f3;
    //border: 2px solid rgba(248, 248, 248, 0.5);
}
#nav-icon span:nth-child(3) {
    top: 36px;
    background-color: #f3f3f3;
    //border: 2px solid rgba(248, 248, 248, 0.5);
}
#nav-icon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}
#nav-icon.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}
#nav-icon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

