
.showcase-bold{
  font-weight: 400;
  font-size: 1.15em;
}
.frame{
  width: 100%;
  height: 100vh;
  position: fixed;
  background-image: url(../images/frame.png);
  background-repeat: no-repeat;
  background-size: 500px auto;
  background-position:  top 6em center;
  padding: 0;
  margin: 0;
}
.showcase-outer{
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/showcase_image.jpeg);
    
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-size: cover;
  &:before{
    content: '';
    background-image: linear-gradient(#22a7e4, rgba(34, 170, 228, 0.95), rgba(34, 170, 228, 0.6), rgba(34, 170, 228, 0.6));
    opacity: 1;
    position: absolute;
    //background-attachment: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
.showcase{
    width: 100%;
    height: 100vh;
    background: #22A7E4;
    margin: 0;
    padding: 0;
    
    position: relative;
    
      
    }
    .reframe{
      color: #f8f8f8;
      //background: rgba(34, 170, 228, 0.3);
      position: absolute;
      display: block;
      padding: 0 1em;
      margin: 5.5em 0 0 0;
      font-size: 3.5em;
      font-weight: 200;
      letter-spacing: 0.2em;
      left: 50%;
      width: auto;
      transform: translateX(-48%);
      text-shadow: none;
      line-height: 1.5;
      animation:0.8s ease-in 0.5s normal forwards 1 fadein;
      -webkit-animation:0.8s ease-in 0.5s normal forwards 1 fadein;
      opacity:0;
    }
    .reframe-logo{
        position: absolute;
        display: block;
        padding: 0;
        margin: 11em 0 0 0;
        width: 120px;
        background-image: url(../images/reframeLogoTree.png);
        height: 136px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 120px 136px;
        z-index: 0;
        left: 50%;
        transform: translateX(-50%);
        animation:0.8s ease-in 0.5s normal forwards 1 fadein;
        -webkit-animation:0.8s ease-in 0.5s normal forwards 1 fadein;
        opacity:0;
    }
    @keyframes fadein{
      0%{opacity:0}
      100%{opacity:1}
    }
    @-webkit-keyframes fadein{
      0%{opacity:0}
      100%{opacity:1}
    }
    p{
      padding: 0.5em;
      width: 65%;
      max-width: 35em;
      position: absolute;
      display: block;
      left: 50%;
      transform: translateX(-50%);
      font-family:'Work Sans', sans-serif;
      font-weight: 200;
      font-size: 1.6em;
      text-align: center;
      line-height: 1.6em;
      text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
      margin: 17em 0 0 0;
      color: #f8f8f8;
      animation:0.8s ease-in 1.5s normal forwards 1 fadein;
      -webkit-animation:0.8s ease-in 1.5s normal forwards 1 fadein;
      opacity: 0;
      height: auto;
    }
    .start-button{
      background: rgba(248, 248, 248, 0.80);
      color: #22A7E4;
      padding: 0.5em 1em;
      text-align: center;
      text-decoration: none;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300;
      font-size: 1.5em;
      margin: 85vh 0 0 0;
      left: 50%;
      transform: translateX(-50%);
      border: 2px solid #22A7E4;
      position: fixed;
      cursor: pointer;
      transition: 1s ease;
      animation:0.8s ease-in 2.5s normal forwards 1 fadein;
      -webkit-animation:0.8s ease-in 2.5s normal forwards 1 fadein;
      opacity:0;
    }
    .start-button:hover {
      background-color:#22A7E4;
      color: #f8f8f8;
      border:2px solid #f8f8f8;
    }
}

@media (max-height: 550px){
  .showcase{
    .start-button{
      display: none;
    }
  }
}

@media (max-width: 1200px){
  .showcase{
    p{
      width: 80%;
      font-size: 1.06em;
      margin: 26em 0 0 0;
    }
  }
}
@media (max-width: 1050px){
  .frame{
    background-size: 443px 340px;
  }
  .showcase{
    .reframe{
      font-size: 3em;
      margin: 6.3em 0 0 0;
    }
    
    p{
    margin: 24em 0 0 0;
    }
    .start-button{
      font-size: 1.5em;
    }
  }
}
@media (max-width: 600px){
  .showcase{
    background-position: top center;
    .reframe-logo{
      width: 120px;
      height: 136px;
      background-size: 120px 136px;
      padding: 0;

    }
    .reframe{
      font-size: 2.5em;
      padding: 0 1em;
      margin: 7.5em 0 0 0;
    }
    p{
      font-size: 1.1em;
      height: auto;
      width: 90%;  
    }
    .start-button{
      font-size: 1.2em;
    }
  }
  .showcase-bold{
    font-size: 1.1em;
  }
}

